<%- include('partials/header') %>

<div style="background-image: url('images/bg1.jpg'); background-size: cover; background-position: center center; min-height: 100vh; display: flex; justify-content: center; align-items: center;">
  <form action="/login" method="POST" style="background-color: rgba(255, 255, 255, 0.7); padding: 2rem; border-radius: 0.5rem;">
    <div class="card-header border-0" style="background: transparent;display:flex;justify-content: center;align-items: center;">
      Register
    </div>
    <div class="form-group" >
      <input type="email" class="form-control" name="username" placeholder="Email" style="margin-bottom: 1rem; margin-top: 1rem;">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" style="margin-bottom: 1rem;">
    </div>
    <button type="submit" class="btn btn-dark">Register</button><br>
    <div class="card-body" style="display:flex;justify-content: center;align-items: center;">--OR--</div>
    <div class="card-footer border-0" style="background: transparent;">
      <a href="/auth/google" role="button">
        <i class="fab fa-google"></i>
        Sign Up with Google
      </a>
    </div>
  </form>
</div>

<%- include('partials/footer') %>
